*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-secondary: "Alegreya", sans-serif;
  --ff-primary: "Titillium Web", monospace;
  --ff-logo:"Dancing Script", cursive;;
  --ff-primary:"Exo 2", sans-serif;

  --fw-reg: 400;
  --fw-bold: 800;

  --fs-h1: 2.5rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.15rem;
  --fs-body: 1rem;
  --fs-social:1.25rem;

  --color-light: #fff;
  --color-accent: #D6133A;
  --color-social:#fff;
  --color-bg:#02284E;

  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 3.5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
    --fs-social:1.75rem;
  }
}

body {
  background: var(--color-bg);
  color: var(--color-light);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.5rem;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

section {
  padding: 2em 2em 0em 2em;
}

.section__title--desc {
  padding: 0em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
  color:var(--color-light);
}


.section__subtitle--intro {
  padding-top: 0.5em;
  
}

strong {
  font-weight: var(--fw-bold);
}

.section__title--aboutme {
  font-size: var(--fs-h2);
}

.section__subtitle--intro
 {
  font-size: var(--fs-h2);
  font-family: var(--ff-primary);
  color: var(--color-accent);
  
}

.section__subtitle--aboutme{
  color: var(--color-accent);
}

.header{
  margin: 0 0;
  padding: 2em 2em 0em 2em;
}

.section__social--list {
  list-style: none;
  display: flex;
  justify-content:center;
}

.section__logo{
  font-family: var(--ff-logo);
  text-decoration: none;
  color: var(--color-light);
  height: 90px;
  width: 40px;
}


.section__logo--link:hover{
  color: var(--color-accent);
}

.section__social--item {
  padding: 2em 2em 1em 0em;
}

.section__social--link {
  text-decoration: none;
  color: var(--color-social);
  font-size: var(--fs-social);
}

.section__social--link:hover{
  color: var(--color-accent);
}

.intro {
  position: relative;
}

.intro__img {
  border-radius: 10%;
  box-shadow: var(--box-shadow);
}

.section__title--intro strong {
  display: block;
}

.about-me {
  text-align: justify;
}

.section__subtitle--skills,.section__title--timeline{
  color: var(--color-accent);
}

.skills__body{
  display: grid;
}

.section__skills--key{
  grid-column: 1;
  padding:1em 2em 0em 0em;
}

.section__skills--value{
  grid-column: 2;
  justify-content: left;
  padding:1em 2em 0em 0em;
}

.section__skills--item{
  list-style: none;
}

.section__title--footer{
  text-align: center;
  color: var(--color-light);
}

@media (min-width: 600px) {
  .intro {
    
    column-gap: 0.5em;
    width: fit-content;
    margin: 0 0;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  main {
    display: block;
  }


  .section__title--desc {
    padding: 0em;
  }

}
